.health-tracker-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px;
}

.health-tracker-title {
  display: flex;
  align-items: center;
}

.health-tracker-title-icon {
  display: flex;
}
.health-tracker-title-icon img {
  width: 100%;
  height: 100%;
}

.health-tracker-title-count-number {
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #f14658;

  margin: 0 4px 0 9px;
}

.health-tracker-title-count-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;

  color: #acacac;

  align-self: flex-end;
}

.health-tracker-sub-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  /* identical to box height, or 100% */

  color: #f14658;
}
