.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title-and-time-row {
  display: flex;
  justify-content: space-between;
}

.title-column {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.title {
  display: flex;
  align-items: center;
  gap: 8px;
}

.sub-title {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #e1e1e1;
}

.time-spent-column {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  /* background-color: red; */
}

.time-spent {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #b2ffda;
}

.show-info-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hide-info-container {
  display: none;
}

.description-row {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;

  color: #e1e1e1;
}

.explain-info-row {
}

.info-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-text {
  margin-left: 4.98px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.close-button {
  text-align: right;
  margin-top: 8px;

  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-decoration-line: underline;
  color: #b5d654;
}
