.chart-card-container {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  /* height: 30px; */
}

.emoji-text-container {
  position: absolute;
  /* background-color: red; */
  width: 10px;
  height: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;

  /* transform: translateY(-100%); */

  text-align: center;
}

.starting-emoji {
  left: 25px;
}

.ending-emoji {
  right: 25px;
}

.emoji-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  /* or 100% */

  text-align: center;

  color: #e1e1e1;
}
