.info-button {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  font-size: 10px;
  text-align: center;
  color: black;
  background: linear-gradient(214.01deg, #2f80ed -45.29%, #b2ffda 128.06%);

  padding-top: 0.75px;
  cursor: pointer;
  user-select: none;
}
